################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1718112_3/.vs/1718112_3/v15/Browse.VC.opendb
